@import './styles/animations.css';
@import './styles/glitch.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1D4ED8;
    --secondary: #FBBF24;
    --accent: #F472B6;
    --background: #0F172A;
    --text: #FFFFFF;
    --border: #334155;
  }
}
